
.cool-font {
        font-size: xx-large;
        text-align: center;
        width: 100%;
        font-family: 'Lantinghei TC';
    }

.first-name {
    font-weight: 200;
}
.last-name {
    font-weight: 600;
    margin-left: -7px;
}
.description {
    position: relative;
    top: 40px;
    font-size: x-large;
    font-weight: 300;
}
@media screen and (min-width: 620px) {
    img.logos {
        position: relative;
        top: 0px;
        float: right;
        padding-right: 25px;
    }
    img.medium {
        position: relative;
        top: -6px;
        left: 7px;
    }
}
@media screen and (max-width: 620px) {

    img.logos {
        position: relative;
        top: 0px;
        left: 75px;
        float: right;
        padding-right: 25px;
    }
    img.medium {
        position: relative;
        top: -6px;
        left: 85px;
    }
}
img.go-pro-photo {
    position: relative;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
